In [ ]:
#1.Predict Output:
s1 ="Gaurav"
s2 ="tuteur.py@gmail.com"
print(len(s1),len(s2))

In [ ]:
#2.WAP to input a string and print its length.
str1 = input("enter the string:")
print(len(str1))

In [ ]:
#3.WAP to input 2 numbers and print their sum and difference.
n1 = int(input("enter the number:"))
n2 = int(input("enter the number:"))
sumof = n1+n2
diff=n1-n2
print('sum of the {0} and {1} is {2} difference of the {0} and {1}  is {3}'.format(n1,n2,sumof,diff))

In [ ]:
#4.Predict output:
s1 ='ab' 
s2 = 'de'
s3 = s1 +s2
print(s3)

In [ ]:
#5.Predict output:
s1 ='ab' 
s2 = 'de'
s3 = s1 +s2
print(s3)

In [ ]:
#6.Predict output:
s1 ='ab'*4 
print(s1)

In [ ]:
#7.Predict output:
s1 ='ab\n'*4 
print(s1)

In [ ]:
#8.WAP to input a string s and a number n. Print the string n times on the screen, each should appear in a separate line (do not use any kind of loops, use the multiplication operator).
s = input("enter the string:")
n  = int(input("enter the number:"))
print((s + '\n')*n)

In [ ]:
# 9.predict output:
res = print('Gaurav')
print(res)

In [ ]:
str1 = "Gaurav"
str2 ="tuteur.py@gmail.com"
str3 = str1 + '\n' + str2
print(type(str3))
print(len(str3))

# assignment2

In [ ]:
#1.Input temperature in Fahrenheit in print in Celsius.
 
F = int(input("Enter the temperature value in Farenheit : "))
C = ((F-32)*5)/9
print("The temperature in celcius : ", C)

In [ ]:
#2.Write a program to input a number and print its square and cube.   
n = int(input("enter the number:"))
squre =  n**2
cube  =  n**3
print('squre of the {0} is {1} and cube of the {0} is {2}'.format(n,squre,cube))

In [ ]:
#WAP to input a number n and a number m and print the result of following
#  n2 + m2
    n = int(input("enter the number:"))
    m = int(input("enter the number:")) 
    res = n**2 + m**2
    print(res)

In [ ]:
#WAP to input a numbers M and N and print result of MN. (use both ** and pow)
import math as m
M = int(input("enter the number:"))
N = int(input("enter the number:")) 
res1 = M**N
res2 = m.pow(M,N)
print(res1,res2)

In [ ]:
#5. Write a simple interest calculator.
P = int(input("Enter the Principle Amount : "))
T = int(input("Enter the Time duration : "))
R = int(input("Enter the rate of interest"))
Simple_intrest = (P*T*R)/100
print("The required simple interest is ", Simple_intrest)

In [ ]:
#Input Principal, Rate, Time and print Compound Interest and Amount.
P = int(input("Enter the Principle amount : "))
T = int(input("Enter the duration of time in years : "))
R = int(input("Enter the rate of interest : "))
x = (1+(R/12))**(12*T)
A = P*x
print("The required amount is : ", A)
Compound_I = (P*x)-P
print("The required Compound interest is : ", Compound_I)

In [ ]:
#WAP to print sum of first n natural numbers. (n needs to be taken as input).
n = int(input("Enter the value: "))
sum = 0
for i in range(1,n+1):
    sum = sum + i
print('sum of first {0} is {1}'.format(n,sum))

In [ ]:
#WAP to input 2 numbers and swap them. (write using both normal logic with temp variable and
#also the pythonic way).
a = input("Enter the first number : ")
b = input("Enter the second number : ")
print("before the swapping values of a and b",a,b)
c = a
a = b
b = c
print("after the swapping values of a and b",a,b)
a,b = b,a
print("after the swapping values of a and b",a,b)

In [ ]:
#Input a single character and print its ascii values.
x = input("Enter a character : ")
print('The ASCII value of the given char' + x + "is : ", ord(x))

In [ ]:
#WAP that takes area of a circle and gives back the radius and circumference.
import math
def circle_cum(n):
    r= math.sqrt(int(a)/math.pi)
    circ = 2 * math.pi * r
    print("The required cirumference is : ", circ)


a = input("Enter the area of circle")
circle_cum(a)

In [ ]:
#We need to input marks in 5 subjects out of 100 and print percentage.
total = 0
for i  in range(5):
    marks = int(input("enter the marks:"))
    print('{0} subject marks is {1}'.format(i,marks)) 
    total += marks
print('total marks of the given student',total)

In [ ]:
#WAP to print ascii value of all white-space characters present in python.

list1 = ['\n',':',';','\t','\b']
for i in range(len(list1)):
    res = ord(list1[i])
    print('ascii value {0} is {1}'.format(list1[i],res))

# assignment3

In [ ]:
#1.Guess output of each slice: 
s='Python is Object Oriented' 
print(s[-1]) 
print(s[::-1]) 
print(s[:-1]) 
print(s[1:1]) 
print(s[4:10])

In [ ]:
#What error do you see for following statements: 
s= ''
print(s[1])

In [ ]:
S='Gaurav' 
print(s[1])

In [ ]:
s='a b cd'
print(len(s))
print(s[::2])
print(len(s[::2]))

In [ ]:
s='a#b#c#d#'
print(s.split())
print(s.split('#'))
l=s.split('#')
s='$'.join(l)
print(s)

In [ ]:
S='Gaurav'
S=S[::-2][::-2]
print(S)

In [ ]:

print(1>2)

In [ ]:
print(4%2, 5%2, 2%5, sep=',')

In [ ]:
s='abcba'
s.upper()
print(s)
print(s.count('A'), end = ',')
print(s.count('A', 2,4) , end = ',')
print(s.count('a', 2,4) , end = ',')

In [ ]:
s = "  udaykumar  "
print(s.strip())

In [ ]:
p = """
*****************
        *
        *
        *
        *
        *
        *
        *
        *
        *
        *
 """
print(p)

In [ ]:
l = """

     _______________
     |              |
     O              |
    /|\             |
    / \             |
                    |
                    |
____________________|                    


"""
print(l)

In [ ]:
#WAP to input a string and replace all space with new lines (\n) and print again. 
s = "uday kumar gampa"
print(s.replace(' ','\n'))

In [ ]:
#11. WAP to input complete name(first and last name separated by space) and print first and last
     #name separately along with their length in upper case. 
s  = input("enter your name:")
f,l = s.split(' ')
firstname = f.upper()
lastname  = l.upper()
print('first name {0} and its length{1}'.format(firstname,len(firstname)))
print('last name {0} and its length{1}'.format(lastname,len(lastname)))

In [ ]:
#WAP to input a string and split it into 2 halves. The string can be of any length 
def split_into_two_string(a,b):
    if (len(s))%2==0:
        s1,s2 = s[:h],s[h:]
        return s1,s2
    else:
        n =h+1
        s1,s2 =s[:h],s[n:]
        return s1, s2

In [ ]:
s = input("enter the string:")
h =int(len(s)/2)   
split_into_two_string(s,h)

# assignment5

In [ ]:
#Convert a Tuple t = (1,2,3,4,5) to a list 
t =(1,2,3,4,5)
print(list(t))

In [ ]:
#WAP to join a list and a tuple:
L = [1,3,5,7]
T = (8,6,4,2) 
S =  list(T)
L.extend(T)
LS = L
print(LS)

In [ ]:
#Print the list in reverse order
l = ['a', 'd', 'c', 'A', 'C'] 
l.reverse()
print(l)

In [ ]:
# Print Elements at Odd indexes from a list (Do not use loop)
l = [10,11,20, 21,30, 31, 40, 41] 
res = l[1::2]
print(res)

In [ ]:
n_list =["Happy",[2,0,1,5]]
print(n_list[0][1])
print(n_list[1][3])

In [ ]:
odd =[2,4,6,8]
odd[0] =1
print(odd)
odd[1:4] =[3,5,7]
print(odd)

In [ ]:
odd = [1,3,5]
odd.append([7,9])
print(odd)
odd.extend([11,13])
print(odd)

In [ ]:
x= 1,2,3; print(type(x))
x= (1); print(type(x))
x= 1; print(type(x))
x= 1, ; print(type(x))

In [ ]:
l = [[1, 2 ,3],
     [4,5,6],
     [7,8,9]] 
for i in range(len(l)):
    for j in range(len(l[i])):
        print('%d' %l[i][j],end =' ')
    print()

In [ ]:
t1 =tuple('string')
t3 = t1 +t2
print(t3)

In [ ]:
t =tuple([10,20,30,40,50,60])
print(60 in t)
print('60' in t)
print(int(10 in t))
print(int(1 in t))

In [ ]:
t =tuple('string')
print(t)
print(t[::-1])
print(t[::2][::-2])

In [ ]:
s1 = input("enter the string:")
s2 = s1[::-1]
if s1==s2:
    print("the given string is polindrome")
else: 
    print("the given string is polindrome")

In [ ]:
l = tuple(range(20,1,-5))
print(l)

In [ ]:
s = "uday"
print(list(s))

In [ ]:
print(type('1 2'.split())) 
print(type([1,3,2].sort())) 
print(type('abc'.upper())) 
print(type(1 in [1,2]))

# assignment4

In [ ]:
#1. WAP to input 2 strings and swap the strings 
s1 =input('enter the string:')
s2 =input('enter the string:')
s1,s2 = s2,s1
print(s1,s2)

In [1]:
#2.WAP to generate 4 random numbers in the range 0-26 and print their average
import random
a = []
for i in range(4):
    a.append(random.randrange(0,26))
    
print(a)
average =sum(a)/4
print("average of 4 random numbers is :",average)

[2, 4, 22, 21]
average of 4 random numbers is : 12.25

In [3]:
#3.WAP to generate and print a random uppercase or lowercase alphabet. Try these:
# Create a string containing all alphabets and then select a random alphabet.
#Check the module string 
def alpha():
    a = random.randrange(65,90)
    print(chr(a))
    
alpha()

B

In [4]:
#4.WAF get_si() that takes Principle, Rate and Time as arguments and returns the Simple
#Interest. 
def get_si(p,t,r):
    Simple_intrest = (p*t*r)/100
    print("The required simple interest is ", Simple_intrest)
    
        
p = int(input("Enter the Principle amount : "))
t = int(input("Enter the duration of time in years : "))
r = int(input("Enter the rate of interest : "))
get_si(p,t,r)

Enter the Principle amount : 10000
Enter the duration of time in years : 12
Enter the rate of interest : 2
The required simple interest is  2400.0

In [7]:
#5.WAF get_amount() that takes Principle, Rate and Time as arguments and returns the
#Total amount using the get_si() function from above to calculate the SI. Also provide 

def get_amount(p, t = 1, r = 10):
        return(get_si(p, t, r))
p = float(input())    
get_amount(p)

1000
The required simple interest is  100.0

In [ ]:
#6.WAP get_ci() that takes Principle, Rate and Time as arguments and returns the
   #Compound Interest
def get_ci(p,t,r):
    x = (1+(r/12))**(12*t)
    Compound_I = (p*x)-p
    print("The required Compound interest is : ", Compound_I)
    
        
p = int(input("Enter the Principle amount : "))
t = int(input("Enter the duration of time in years : "))
r = int(input("Enter the rate of interest : "))
get_ci(p,t,r)

In [ ]:
#7. WAP get_q_r() taking 2 numbers as parameters and returns the quotient and
    #remainder in the form of a tuple. 
def get_q_r(a,b):
    q = a/b
    r = a%b
    t  = (q,r)
    print(t)
    
n1 =int(input('enter the base:'))
n2 =int(input('enter the height:'))
get_q_r(n1,n2)

In [ ]:
#8.WAP to find the length of hypotenuse of a right angled triangle, input the height and base
import math as m
def hypotenuse_length(a,b):
    c = a**2 +b**2 
    hypotenuse = m.sqrt(c)
    print('length of hypotenuse of a right angled triangle',hypotenuse)
    
n1 =int(input('enter the base:'))
n2 =int(input('enter the height:'))
hypotenuse_length(n1,n2)

In [ ]:
#9.WAP to input number of seconds and print in days, hours, minutes and seconds 
def time_of(s):
    day = s//(24*3600)
    s = s%(24*3600)
    hour = s //3600
    s = s%3600
    min = s//60
    sec = s%60
    print("{0}day {1}hour {2}min {3}sec".format (day,hour,min,sec))
    
    
s =int(input('enter the seconds:'))
time_of(s)

In [ ]:
#10.Check your version of python interpreter without opening the interpreter (Which
 #command needs to be used on the command line)
    
 #                            python -V

In [1]:
#11. Find output: 
x =2
x *= 3
x = x%4
y = -x
print(x,y)

2 -2

In [2]:
#12.Find output: 
def funct():
    pass
print(funct())

None

In [12]:
#13. WAP to input the real and imaginary part of a complex number and print it on screen.
#output should look like 
import math
x = int(input())
y = int(input())
z = (complex(x, y))
print("re :", z.real, "im :", z.imag)

10
20
re : 10.0 im : 20.0

In [ ]:
"""def oper(a,b): 
    def sum_of(a,b):
        x = a+b
        return x
    result = sum_of(a,b)
    return result
            
oper(1,6) 
"""

# assignment 6

In [15]:
#1. WAP to print first n natural numbers (input n from user).
n = int(input("enter the number:"))
for i in range(1,n+1):
    print(i)

enter the number:5
1
2
3
4
5

In [16]:
#2. WAP to find sum of first n natural numbers 
n = int(input("enter the number:"))
sum = 0
for i in range(1,n+1):
    sum = sum + i
print('sum of first {0}natural numbers  is {1}'.format(n,sum))

enter the number:5
sum of first 5natural numbers  is 15

In [22]:
#3.WAP to print first n natural numbers in reverse order.
n = int(input("enter the number:"))
i = 0
while n>i:
    print(n)
    n -= 1

enter the number:5
5
4
3
2
1

In [26]:
#4. WAP to input a number and print its factorial. 
n = int(input("enter the number:"))
f= 1
for i in range(1,n+1):
 f = f*i
print("factorial of given number:",f)

enter the number:5
factorial of given number: 120

In [28]:
#5.WAP to print Fibonacci sequence till n.
n = int(input("enter the number:"))
t1 = 0 
t2 = 1
i =0
if n <= 0:
    print("Please provide a number greater than zero")
elif n == 1:
    print("This Fibonacci sequence has {} element".format(n), ":")
    print(t1)
else:
   print("This Fibonacci sequence has {} elements".format(n), ":")
   while i< n:
        print(t1, end=', ')
        t3 = t1 + t2
        t1 = t2
        t2 = t3
        i += 1

enter the number:5
This Fibonacci sequence has 5 elements :
0, 1, 1, 2, 3,

In [32]:
#6.WAP to print all digits of a number input from user. 
n=int(input("Enter a number:"))
tot=0
a = []
while(n>0):
    dig=n%10
    a.append(dig)
    n=n//10
    
print(a[::-1])

Enter a number:512
[5, 1, 2]

In [29]:
#7.WAP to find sum of all digits of a number.
n=int(input("Enter a number:"))
tot=0
while(n>0):
    dig=n%10
    tot=tot+dig
    n=n//10
print("The total sum of digits is:",tot)

Enter a number:121
The total sum of digits is: 4

In [53]:
#8.WAP to find sum of following series given n as input from user
#1 + 2! + 3! + 4! + 5! + ….n! 
n=int(input("Enter a number:"))
sum = 0
for i in range(1,n+1):
    f=1
    for j in range(1,i+1):
        f = f*j
        
    sum += f


print('sum of the given series is ',sum)

Enter a number:5
sum of the given series is  153

In [39]:
#9. WAP to input base and exponent and print result without using inbuilt function pow(use for or
#while loop).
base=int(input("Enter a base:"))
exponent=int(input("Enter a exponent:"))
i=1
res = base
if exponent == 0:
    print(1) 
elif exponent == 1:
     print(base)
else:
    while exponent >i:
        res = res * base
        exponent -= 1    
    print(res)

Enter a base:2
Enter a exponent:10
1024

In [55]:
#10. Print following patterns: 
#A

for i in range(1,6):
   print('*'*i)

*
**
***
****
*****

In [61]:
#b
for i in range(5,0,-1):
   print('*'*i)

*****
****
***
**
*

In [69]:
for i in range(5,0,-1):
    print(' '*i, end ='')
    print('*'*(6-i))

     *
    **
   ***
  ****
 *****

In [82]:
n=20
for i in range(1,6):
    print(' '*(n-i) + '* '*(i))

                   *
                  * *
                 * * *
                * * * *
               * * * * *

In [104]:
#11. Print following number patterns
#A
for i in range(1,6):
    for j in range(i):
        print(i,end ='')
    print('')

1
22
333
4444
55555

In [120]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end ='')
    print('')

1
12
123
1234
12345

In [127]:
for i in range(5,0,-1):
    for j in range((6-i)):
        print(i,end ='')
    print('')

5
44
333
2222
11111

In [153]:
for i in range(1,6):
    g =  str(i)
    print(' '*(6-i) + g*i)

     1
    22
   333
  4444
 55555

In [172]:
for i in range(1, 6):
    for j in range(65, 65+i):
        a = chr(j)
        print (a,end='')
    print('')

A
AB
ABC
ABCD
ABCDE

In [156]:

lastNumber = 5
asciiNumber = 65
for i in range(0, lastNumber):
    for j in range(0, i+1):
        character  = chr(asciiNumber)
        print(character, end='')
    asciiNumber+=1
    print(" ")

A
BB
CCC
DDDD
EEEEE

In [157]:
print("Print Alphabets and Letters pattern in python ")
lastNumber = 5
asciiNumber = 65
for i in range(0, lastNumber):
    for j in range(0, i+1):
        character  = chr(asciiNumber)
        print(character, end='')
        asciiNumber+=1
    print(" ")

Print Alphabets and Letters pattern in python
A
BC
DEF
GHIJ
KLMNO

In [87]:
n=20
for i in range(1,6):
    print(' '*(n-i))
    for j in range(1,i+1):    
        print(chr(64+j),end='') 
    

    #for i in range(1,6):
        #for j in range(1,4):
            #print("") 
        #for k in range(1,i+1):
         #   print(chr(64+k),end ='')
        #m =i-1
        #while m >=1:
           # print(chr(64+m),end ='')
           # m-=1

A
AB
ABC
ABCD
ABCDE

# assignment_ifelse

In [2]:
#1.WAP to input 2 numbers and check whether the first is divisible by the second and print true or
#false depending on the divisibility. 
n1 = int(input("enter the number"))
n2 = int(input("enter the number"))
if n1%n2 == 0:
    print('{0} is divisible by the {1}'.format(n1,n2))
else:
    print('{0} is  not divisible by the {1}'.format(n1,n2))

enter the number7
enter the number2
7 is  not divisible by the 2

In [2]:
#2. In the palindrome example, make the code case insensitive.
# i.e. Naman should also be treated as a palindrome (HINT: first convert to either upper or
#plower case). 
s = input("enter the string")
s = s.upper()
p = s[::-1]
print(p)
if s ==p:
    print("The given string is palindrome")
else:
    print("The given string is not a palindrome")

enter the numberuday
YADU
The given string is not a palindrome

In [29]:
#3.WAP to input the sides of a triangle and print whether equilateral(all sides equal), isosceles (2
#sides equal), or scalene (no sides equal).
a = int(input("enter the number"))
b = int(input("enter the number"))
c = int(input("enter the number"))
if a== b and a==c and b==c:
    print('the triangle is equilateral')
elif (a== b and b!=c) or (b== c and a!=c ) or (a== c and b!=c ):
    print('the triangle is isosceles')
else:
    print('the triangle is scalene')

enter the number3
enter the number6
enter the number7
the triangle is scalene

In [7]:
#4.WAP to input a number and print if it is even or odd. 
n = int(input("enter the number"))
if n%2 == 0:
    print('given number is even number')
else:
    print('given number is odd number')

enter the number6
given number is even number

In [13]:
#5.WAP to input age and print the respective text
#depending on the age ranges as present in the table. 

a = int(input("enter the age:"))
if a>=0 and a<=12:
    print('child')
elif a>=13 and a<=17:
    print('Teen')
elif a>=18 and a<=50:
    print('adult')
elif a>=51 and a<=100:
    print('Senior Citizen')
else:
    print('Contratulations')

enter the age:51
Senior Citizen

In [24]:
#6.WAP to input year (check if user enters valid year. Should be 4-digit number and should not be
#negative) and print whether leap year or not. (If really interested in why you also have to check
#the divisibility by 400 just google the exact time it takes for the earth to revolve around the sub) 
n = int(input("enter the number:"))
if n >=1000 and n<=9999:
    if n%400 == 0 and n%4 == 0:
        print('{0} is a leap year'.format(n))
    else:
        print('{0} is  not a leap year'.format(n))

enter the number:2200
2200 is  not a leap year

In [16]:
#7.WAP to input a string and convert it to Upper Case if number of characters is odd and convert to
#lower case otherwise.
n = input("enter the string:")
s = len(n)
if s%2 == 0:
    print(n.lower())
else:
    print(n.upper())

enter the number:kumar
KUMAR

In [31]:
#8. WAP to input a string and print Veg if the string doesn’t contain the word egg. Otherwise print
#Non-Veg. As usual eggs can be both big and small. 
str1 = input("enter the string:")
str1  = str1.upper()
substring = 'EGG'
n = str1.find(substring,0,len(str1))
if n == -1:
    print('veg')
else:
    print('non veg')

enter the string:veg birayani
veg

In [32]:
#9.Give output of:
#a)
if not 1:
    print("False")
else:
    print("True")

True

In [33]:
#b)
if  1:
    print("False")
else:
    print("True")

False

In [34]:
#c)
if  'a'>'A':
    print("weird !!")
else:
    print("Makes Sence")

weird !!

In [35]:
#d)
a= [1,2,3,4]
if  1 >1:
    a= a[::-1]
else:
    a= a[-1::-1]
    
print(a)

[4, 3, 2, 1]

In [19]:
#10. WAP to input marks in 5 subjects and print the grade as per following logic:
#% between 90-100 Grade-A
#% between 80 - 89 Grade-B
#% between 60 - 79 Grade-C
#% < 60 Grade-F 


def mark_s(a,n):
    s =sum(a)
    p = (s/500)*100
    if p >=90 and p <=100:
        print("Grade -A")
    elif p >=80 and p <=89:
        print("Grade -B") 
    elif p >=60 and p <=79:
        print("Grade -C")
    else:
        print('Grade-F') 
        
n = int(input("no of subjects:"))        
for i in range(n):
    a[i] = int(input("enter the marks:"))
print(a)
mark_s(a,n)

no of subjects:5
enter the marks:50
enter the marks:50
enter the marks:50
enter the marks:50
enter the marks:50
[50, 50, 50, 50, 50]
Grade-F

In [24]:
#11.WAP to input age and salary and calculate Tax as per tax rates if following table: 
#0-2,50,000 0 0
#2,50,001-5,00,000 5% 3%
#5,00,001-10,00,000 10% 8%
#Salary>10,00,001 15% 12% 
def tax(age,sal):
    if age < 60:
        if sal >= 0 and sal <= 250000:
            tax = 0
            print("tax rate",tax)
        elif sal >= 250001 and sal <= 500000:
            tax = (5/100)*sal
            print("tax rate",tax)
        elif sal >= 500001 and sal <= 1000000:
            tax = (10/100)*sal
            print("tax rate",tax)
        else:
            tax = (15/100)*sal
            print("tax rate",tax)
    else:
        if sal >= 0 and sal <= 250000:
            tax = 0
            print("tax rate",tax)
        elif sal >= 250001 and sal <= 500000:
            tax = (3/100)*sal
            print("tax rate",tax)
        elif sal >= 500001 and sal <= 1000000:
            tax = (8/100)*sal
            print("tax rate",tax)
        else:
            tax = (12/100)*sal
            print("tax rate",tax)
        
            
age = int(input("enter the age:")) 
sal = int(input("enter the salary:")) 
tax(age,sal)

enter the age:61
enter the salary:500000
tax rate 15000.0

In [30]:
#12.Try each of the below statements separately (remember difference between statement and
#expression) on the python interpreter and guess the output before trying: 
print(20 if not 1== 1 else 10)
print(30 if not 1== 1 else 20  if 'a'< 'A' else 10)
print(40 if not 1== 1 else 30  if 'a'< 'A' else 20 if '' else 10 )
print('No' if not 1== 1 else ( 'No' if 'a'< 'A' else ('OMG' if 'Oh !!' else 'No' )))

10
10
10
OMG

In [2]:
#13.WAF: bmi() that takes the weight in kg and height in cm of a person, calculates and returns the
#BMI.
#Write code that calls this function after taking height and weight as inputs and then prints
#underweight, normal, overweight or obese depending on the value of BMI. 
def BMI(w,h):
    bmi = float((w/(h)**2)*703)
    if bmi < 18.5:
        print('the person is underweight')
    elif bmi >=18.5 and bmi<=25:
        print('the person is normal')
    elif bmi > 25 and bmi<=30:
        print('the person is overweight') 
    else:
        print('the person is obese') 
        
weight  = float(input("enter the first person weight:"))
height = int(input("enter the second person height:"))
BMI(weight,height)

enter the first person weight:68
enter the second person height:165
the person is underweight

In [29]:
#14.Take input of age of 3 people by user and determine oldest and youngest among them.
first_person  = int(input("enter the first person age:"))
second_person = int(input("enter the second person age:"))
third_person  = int(input("enter the third person age:"))
if first_person < second_person and first_person < third_person:
    print("the youngest person is first_person",first_person)
    if second_person < third_person:
        print("the oldest person is third_person",third_person)
    else:
        print("the oldest person is second_person",second_person)   
elif second_person < first_person and second_person < third_person:  
    print("the youngest person is second_person",second_person)
    if first_person < third_person:
        print("the oldest person is third_person",third_person)
    else:
        print("the oldest person is first_person",first_person)
else:  
    print("the youngest person is third_person",third_person)
    if first_person < second_person:
        print("the oldest person is second_person",second_person)
    else:
        print("the oldest person is first_person",first_person)

enter the first person age:50
enter the second person age:40
enter the third person age:25
the youngest person is third_person 25
the oldest person is first_person 50

In [26]:
#15. WAP to input a number and check if number is divisible by both 5 and 7. 
n  = int(input("enter the number:"))
if n%5 ==0 and n%7 == 0:
    print("given number divisible by both 5 and 7")
else:
    print("given number is not divisible by both 5 and 7")

enter the number:5
given number is not divisible by both 5 and 7

# AssignmentPython6.1Loops List, If-else

In [4]:
#1 WAP to input a string and print individual characters in the string using for loop. 
s = input("enter the string")
for i in range(len(s)):
    print(s[i])

enter the stringuday
u
d
a
y

In [6]:
# 2.WAP to input a string and print the ASCII value of each character in the string. 
s = input("enter the string")
for i in range(len(s)):
    print('{0} ASCII value is {1}'.format(s[i],ord(s[i])))

enter the stringuday
u ASCII value is 117
d ASCII value is 100
a ASCII value is 97
y ASCII value is 121

In [4]:
#3.Write a function that takes a list of numbers from user as argument and returns the sum of only
#odd numbers (Use only for loop. No need to use if statement). 
def sum_of_odd(a):
     return sum((i*(i%2) for i in a), 0)
    
n = int(input("size of the list:"))
a =[]
for i in range(n):
    i = int(input("enter the marks:"))
    a.append(i)
print(a)
sum_of_odd(a)

size of the list:3
enter the marks:1
enter the marks:2
enter the marks:3
[1, 2, 3]

4

In [6]:
#4. WAP to input a list of numbers and store in a tuple. Now input another number and print the
#index of this number in the tuple. [Use index function] 
list = [1,2,3,5]
t = tuple(list)
e = [int(input("enter the number:"))]
new = tuple(e)
t1 = t + new
print(new)
print(t1)
print(t1.index(e))

enter the number:55
(55,)
(1, 2, 3, 5, 55)
4

In [21]:
#5.Create a list of 10 random numbers and then print the list, sum of all numbers and average. Use
#a for loop. Also print elements at only even indexes in the list.
import random
a = []
for i in range(10):
    a.append(random.randrange(0,26))
print(a)
s = sum(a) 
average = s/10
print('sum of the given numbers:',s)
print('average of the given numbers',average)
e = a[0:10:2]
print(e)

[23, 9, 15, 2, 4, 24, 24, 7, 22, 15]
sum of the given numbers: 145
average of the given numbers 14.5
[23, 15, 4, 24, 22]

In [22]:
#6.WAP to input 10 numbers repeatedly (using range based for loop) and store them in a list. Print
#the list and sum of numbers in the list. 
a = []
for i in range(10):
    i =int(input('enter the numbers'))
    a.append(i)
print('sum of the given list elements',sum(a))

enter the numbers10
enter the numbers10
enter the numbers10
enter the numbers10
enter the numbers10
enter the numbers10
enter the numbers10
enter the numbers10
enter the numbers10
enter the numbers10
sum of the given list elements 100

In [29]:
#7. WAP to input a number and print its table. Ex: if user enters the number as 7, output should b

n =int(input('enter the number:'))
for i in range(1,11):
    m = n*i
    print('{0} X {1}= {2}'.format(n,i,m))

enter the number:8
8 X 1= 8
8 X 2= 16
8 X 3= 24
8 X 4= 32
8 X 5= 40
8 X 6= 48
8 X 7= 56
8 X 8= 64
8 X 9= 72
8 X 10= 80

In [35]:
#8. WAP to print total number of spaces in a string (Use for loop to iterate over the string. Don’t use
#count function).
str1 = input("enter the string:")
count = 0
for i in range(len(str1)):
    if str1[i] == ' ':
        count+= 1
print('total number of spaces in a string',count)

enter the string:uday
total number of spaces in a string 0

In [1]:
#9.WAP to input a string and count number of vowels in the string. [Note: it should work for both
#capital and small alphabets] 
str1 = input("enter the string:")
count = 0
l = ['a','e','i','o','u','A','E','I','O','U']
for i in range(len(str1)):
    if str1[i] in l:
        count+= 1
print('total number of vowels in a string:',count)

enter the string:uuuu
total number of vowels in a string: 4

In [2]:
#10. WAP to inputa a string and replace all vowels with ‘_’.
#[Hint: Convert string to list. Remember!! Strings are immutable. Replace in the list and then join] 
str1 = input("enter the string:")
a = []
print(a)
l = ['a','e','i','o','u','A','E','I','O','U']
for i in range(len(str1)):
    a.append(str1[i])
    if a[i] in l:
        a[i] ='_'
print(a)
str2 =''.join(a)
print(str2)

enter the string:uday kumar
[]
['_', 'd', '_', 'y', ' ', 'k', '_', 'm', '_', 'r']
_d_y k_m_r

In [3]:
#11. Find output: 
#a)
for num in range(10):
    print('Num:',num)
    if num%4 == 0:
        break
print("loop ends")

Num: 0
loop ends

In [5]:
#b)
import sys
for num in range(10):
    print('Num:',num)
    if num%4 == 0:
        sys.exit()
print("loop ends")

Num: 0

SystemExit:

In [8]:
#12. Find the output of the following code snippets.
#a)
for i1 in range(1,6):
    for i2 in range(5):
        print('*',end ='')
    print()

*****
*****
*****
*****
*****

In [9]:
#b)
for i1 in range(1,6):
    for i2 in range(i1):
        print(i1,end ='')
    print()

1
22
333
4444
55555

In [10]:
for i1 in range(1,6):
    print(str(i1)*i1)

1
22
333
4444
55555

In [11]:
for i1 in range(1,6):
    for i2 in range(i1+1):
        print('*',end ='')
    print()

**
***
****
*****
******

# AssignmentPython7Dict- If-else, loops

In [13]:
#1.WAP to create a dictionary of numbers mapped to their negative value for numbers from 1-5.
#The dictionary should contain something like this:
#Do with both with and without range based for loop.
#{1:-1,2:-2,3:-3….} 


n=int(input("Input a number "))
d = dict()

for x in range(1,n+1):
    d[x]= -x

print(d)

Input a number 5
{1: -1, 2: -2, 3: -3, 4: -4, 5: -5}

In [14]:
d= {1=2,2=3}

SyntaxError: invalid syntax (<ipython-input-14-5f425716dc75>, line 1)

In [16]:
d = {1:2,2:3}
print(d)

{1: 2, 2: 3}

In [18]:
d = {1,2 ;2,3}
print(d)

SyntaxError: invalid syntax (<ipython-input-18-e1ac6c9feaad>, line 1)

In [19]:
d = {(1,2),(2,3)}
print(d)

{(1, 2), (2, 3)}

In [26]:
d = {'a':'A','b':l,c:[1,2,3]}
print(d)

NameError: name 'c' is not defined

In [24]:
d = {'a':'A','b':l,'c':[1,2,3]}
print(d)

{'a': 'A', 'b': ['a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U'], 'c': [1, 2, 3]}

In [27]:
d = dict([(1,2),(2,3)])
print(d)

{1: 2, 2: 3}

In [28]:
d = dict(((1,2),(2,3)))
print(d)

{1: 2, 2: 3}

In [29]:
d = dict((1,2),(2,3)])
print(d)

SyntaxError: invalid syntax (<ipython-input-29-48b583b3516d>, line 1)

In [30]:
d = dict(x =2 ,y =3)
print(d)

{'x': 2, 'y': 3}

In [31]:
d = dict('x' =2 ,'y' =3)
print(d)

SyntaxError: keyword can't be an expression (<ipython-input-31-7a274ff4b9b4>, line 1)

In [34]:
d = dict(1=2 ,2 = 3)
print(d)

SyntaxError: keyword can't be an expression (<ipython-input-34-03e9d4cc4b49>, line 1)

In [61]:
#3. Read help for zip and write a program that has two lists
#l1 = [1,2,3,4]
#l2 = [10,20,30,40]
#And converts them to a dictionary d containing { 1:10,2:20 …….}
l1 =[1,2,3,4]
l2 =[10,20,30,40]
z = zip(l1,l2)
d = dict(z)
print(d)

{1: 10, 2: 20, 3: 30, 4: 40}

In [55]:
#4.Use range based for loop to store all upper case alphabets and their corresponding ASCII
#values in the dictionary d.
#The result should be d = {‘A’: 65, ‘B’:66,…..}
d = dict()
for x in range(65,91):
    d[chr(x)]= x
print(d)

{'A': 65, 'B': 66, 'C': 67, 'D': 68, 'E': 69, 'F': 70, 'G': 71, 'H': 72, 'I': 73, 'J': 74, 'K': 75, 'L': 76, 'M': 77, 'N': 78, 'O': 79, 'P': 80, 'Q': 81, 'R': 82, 'S': 83, 'T': 84, 'U': 85, 'V': 86, 'W': 87, 'X': 88, 'Y': 89, 'Z': 90}
['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
[65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90]

In [62]:
#5. Create a mapping of number to word from 0-9. (0:’zero’……)
#• Ask user for a single digit number and print the corresponding word format.
#• Print all keys of above dictionary
#• Print all Values of a dictionary
#• Print all Key and Value pairs of above dictionary 
li1 =[0,1,2,3,4,5,6,7,8,9]
li2 =['zero','one','two','third','four','five','six','seven','eight','nine']
d = dict(zip(li1,li2))
print(d)
print(list(d.keys()))
print(list(d.values()))

{0: 'zero', 1: 'one', 2: 'two', 3: 'third', 4: 'four', 5: 'five', 6: 'six', 7: 'seven', 8: 'eight', 9: 'nine'}
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
['zero', 'one', 'two', 'third', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [65]:
#6. Predict Output of: 
li1 =['A','B','C','D']
li2 =['Apple','Ball','Cat','Dog']
d = dict(zip(li1,li2))
d1 = dict(list(d.items()) [::2])
print(d1)

{'A': 'Apple', 'C': 'Cat'}

In [66]:
#7.WAP to input a string and count occurrence of each vowel in a string.
#Ex: if user enters:
 #“Beautiful Day” 
vowels ='aeiou' 
str1 = input('enter the string:')
str1 = str1.casefold()

count = {}.fromkeys(vowels,0)
for char in str1:
    if char in count:
        count[char] += 1

print(count)

enter the string:Beautiful Day
{'a': 2, 'e': 1, 'i': 1, 'o': 0, 'u': 2}

In [67]:
#8. Update above program to print frequency of each alphabet present in string.
str1 = input('enter the string:')
all_freq = {} 
  
for i in str1: 
    if i in all_freq: 
        all_freq[i] += 1
    else: 
        all_freq[i] = 1 
print ("Count of all characters of given string is :\n "+  str(all_freq))

enter the string:Beautiful Day
Count of all characters of given string is :
 {'B': 1, 'e': 1, 'a': 2, 'u': 2, 't': 1, 'i': 1, 'f': 1, 'l': 1, ' ': 1, 'D': 1, 'y': 1}

In [68]:
#9.WAP that takes a string as input and prints frequency of each word.
str1=input("Enter string:")
l=[]
l=str1.split()
wordfreq=[l.count(p) for p in l]
print(dict(zip(l,wordfreq)))

Enter string:count the words in the sentence in
{'count': 1, 'the': 2, 'words': 1, 'in': 2, 'sentence': 1}

# AustraliaImmigrantsPandas

In [69]:
import pandas as pd

In [72]:
#Read sheet "Australia by Residence" from Australia.xlsx
#Ignore the first 20 rows.

data = pd.read_excel(r'C:/Users/UDAY/Downloads/Australia.xlsx',skiprows = 20, sheet_name = 'Australia by Residence')

In [73]:
data.head()

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Emigrants,Both,Afghanistan,935,Asia,5501,Southern Asia,902,Developing regions,0,...,80,120,70,80,120,..,..,..,..,..
1,Emigrants,Both,Albania,908,Europe,925,Southern Europe,901,Developed regions,0,...,30,40,30,30,30,..,..,..,..,..
2,Emigrants,Both,Algeria,903,Africa,912,Northern Africa,902,Developing regions,20,...,20,20,30,40,50,..,..,..,..,..
3,Emigrants,Both,American Samoa,909,Oceania,957,Polynesia,902,Developing regions,10,...,0,0,0,0,0,..,..,..,..,..
4,Emigrants,Both,Andorra,908,Europe,925,Southern Europe,901,Developed regions,0,...,0,0,0,0,0,..,..,..,..,..

In [78]:
#List all Column and Row indexes(Print their names)
print(data.columns)
print(data.index)

Index([    'Type', 'Coverage',   'OdName',     'AREA', 'AreaName',      'REG',
        'RegName',      'DEV',  'DevName',       1980,       1981,       1982,
             1983,       1984,       1985,       1986,       1987,       1988,
             1989,       1990,       1991,       1992,       1993,       1994,
             1995,       1996,       1997,       1998,       1999,       2000,
             2001,       2002,       2003,       2004,       2005,       2006,
             2007,       2008,       2009,       2010,       2011,       2012,
             2013],
      dtype='object')
RangeIndex(start=0, stop=448, step=1)

In [1]:
#Dataset Analysis

#Describe the dataset
#Use values and index attributes on both Row and Column Indexes
#Check Shape, Datatypes and other attributes
#Observe the datatype of each columns' data
print(data.describe(include = 'all'))

NameError: name 'data' is not defined